<h3><i class="fas fa-book-reader"></i>Story-Books</h3>

<div class="section">
    <p class="lead">Create Public and private stories from ypur life</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Login with Google
    </a>
</div>